
.icon-info:before { content: '\e800'; } /* '' */
.icon-card:before { content: '\e801'; } /* '' */
.icon-help:before { content: '\e802'; } /* '' */
.icon-notifications:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-arrow_noline_up:before { content: '\e805'; } /* '' */
.icon-arrow_noline_down:before { content: '\e806'; } /* '' */
.icon-arrow_noline_left:before { content: '\e807'; } /* '' */
.icon-arrow_noline_right:before { content: '\e808'; } /* '' */
.icon-arrow_up:before { content: '\e809'; } /* '' */
.icon-arrow_down:before { content: '\e80a'; } /* '' */
.icon-arrow_left:before { content: '\e80b'; } /* '' */
.icon-arrow_right:before { content: '\e80c'; } /* '' */
.icon-square_x:before { content: '\e80d'; } /* '' */
.icon-signout:before { content: '\e80e'; } /* '' */
.icon-class:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-eye:before { content: '\e811'; } /* '' */
.icon-send:before { content: '\e812'; } /* '' */
.icon-alert:before { content: '\e813'; } /* '' */
.icon-map:before { content: '\e814'; } /* '' */
.icon-edit:before { content: '\e815'; } /* '' */
.icon-clock:before { content: '\e816'; } /* '' */
.icon-calendar:before { content: '\e817'; } /* '' */
.icon-curriculum_filled:before { content: '\e818'; } /* '' */
.icon-evaluation_filled:before { content: '\e819'; } /* '' */
.icon-attendance_filled:before { content: '\e81a'; } /* '' */
.icon-students_filled:before { content: '\e81b'; } /* '' */
.icon-report_filled:before { content: '\e81c'; } /* '' */
.icon-students:before { content: '\e81d'; } /* '' */
.icon-curriculum:before { content: '\e81e'; } /* '' */
.icon-report:before { content: '\e81f'; } /* '' */
.icon-evaluation:before { content: '\e820'; } /* '' */
.icon-attendance:before { content: '\e821'; } /* '' */
